<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cart</title>
	</head>
	
	<body>
	
		<p th:text="${message}" ></p>
		
			<table>
			
				<th>Product</th>
				<th>Quantity</th>
				
				<tr th:each="actualCart:${cart}" >
				<td th:text="${actualCart.name}" ></td>
				<td th:text="${actualCart.actualCartQuantity}" ></td>
				
				</tr>
			
			</table>
			
			<br>
			<br>
			
				<p>Total: </p>
					<p th:text="${pay}" ></p>
	
			<br>
			<br>
				
				
				<form action="/shop/categories/products" method="post">
				
					<p>Click here to return to products:</p>
					
						<br>
				
						<button type="submit">Back</button>
				</form>
				
				
					
				<form action="/shop/categories/products/cart/purchase" method="post">
				
					<p>Click here to return to products:</p>
					
						<br>
				
						<button type="submit">PURCHASE!</button>
				</form>
	
	</body>
	
</html>