<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cart</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
	
		<p th:text="${message}" ></p>
		
			<table>
			
				<th>Product</th>
				<th>Quantity</th>
				
				<tr th:each="actualCart:${cart}" >
				<td th:text="${actualCart.name}" ></td>
				<td th:text="${actualCart.actualCartQuantity}" ></td>
				
				</tr>
			
			</table>
			
			<br>
			<br>
			
				<p>Total: </p>
					<p th:text="${pay}" ></p>
	
			<br>
			<br>
			
				<form action="/shop/categories/products/cart/delete" method="post">
				
					<p>Click here to remove the product from your cart:</p>
					
						<select name="selected_product" >
						
							<option th:each="actualCart: ${cart}" th:value="${actualCart.id}" th:text="${actualCart.name}"></option> 
						
						</select>
							<button type="submit">Remove</button>
				
				</form>
				
			<br>
			<br>
			
				<form action="/shop/categories/products/cart/delete" method="post">
				
					<p>Click here to decrease the quantity from your cart:</p>
					
						<select name="selected_product" >
						
							<option th:each="actualCart: ${cart}" th:value="${actualCart.id}" th:text="${actualCart.name}"></option> 
						
						</select>
				
						<input type="range" name="selected_quantity" min="0" max="50" value="0" oninput="this.nextElementSibling.value = this.value"  >
						<output>0</output>
						<button type="submit">Decrease the quantity</button>

				</form>
			
				<br>
				<br>
				
				<form action="/shop/categories/products" method="post">
				
					<p>Click here to return to products:</p>
					
						<br>
				
						<button type="submit">Back</button>
				</form>
				
				
					
				<form action="/shop/categories/products/cart/purchase" method="post">
				
					<p>Click here to return to products:</p>
					
						<br>
				
						<button type="submit">PURCHASE!</button>
				</form>
	
	</body>
	
</html>