<!DOCTYPE html>
<html class="shop">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Categories</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="regBox">
		<form action="/shop/categories/products" method="post">
			<h4 class="secondaryTitle"> Select category for your product:</h4>
			<select class="roll" name= "categorie_var">
				<option th:each="allcategories:${categories}" th:value="${allcategories.id}" th:text="${allcategories.name}" ></option>
			</select>
			<br>
			<br>
			<input class="button" id="categoryButton" type="submit" value="Submit">
		</form>
	</div>
</body>
	
</html>