<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="UTF-8">
		<title>Categories</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
	
		<form action="/shop/categories/products" method="post">
		
			<p> Select category for your product:</p>
					
					<select name= "categorie_var">
					
						<option th:each="allcategories:${categories}" th:value="${allcategories.id}" th:text="${allcategories.name}" ></option>
					
					</select>
		
						<br>
						<br>
					
					<input type="submit">
		
		</form>
	
	
	
	</body>
	
</html>