<!DOCTYPE html>
<html class="registration">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Completed registration</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	
</head>

<body>
	<div class="head">
		<form action="/" method="get">
			<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
	</div>
	<div class="regBox">
		<h4 class="secondaryTitle">The registration was successful!! </h4>
		<form action="/login" method="post">
			<p>Click here to login:</p>
			<br>
			<button class="button" type="submit">login</button>
		</form>
	</div>
</body>

</html>