<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Completed registration</title>
	</head>

	<body>
	
		<h4 style="text-align:center" >The registration was successful!! </h4>
		
			<form action="/login" method="post">
				
				<p>Click here to login:</p>
					
					<br>
				
						<button type="submit">login</button>
			</form>
			
			<br>
			<br>
			
			<form action="/" method="get">
				
				<p>Click here to exit:</p>
					
					<br>
				
						<button type="submit">exit</button>
			</form>
			
			
	
	</body>

</html>