<!DOCTYPE html>
<html class="shop">

	<head>
		<meta charset="UTF-8">
		<title>Delete is complete</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
	
		<p>You have changed your cart's content</p>
		
			<form action="/shop/categories/products/cart" method="post">
				
				<p>Click here to step back to your cart:</p>
					
					<br>
				
						<button type="submit">Back to your cart</button>
			</form>
		
			<form action="/shop/categories" method="post">
				
				<p>Click here to select a category:</p>
					
					<br>
				
						<button type="submit">Categories</button>
			</form>
			
				<br>
				<br>
			
			<form action="/shop/categories/products" method="post">
				
				<p>Click here to select products:</p>
					
					<br>
				
						<button type="submit">Products</button>
			</form>
			
				<br>
				<br>
			
			<form action="/shop/categories/products/logout" method="get">
				
				<p>Click here to exit:</p>
					
					<br>
				
						<button type="submit">Exit</button>
			</form>
			
	
	
	
	</body>

</html>