<!DOCTYPE html>
<html class="identification">
<head>
	<meta charset="UTF-8">
	<title>Failed Login!</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	<body>
	<div class="user">
		<h4 class="secondaryTitle">Wrong username or password!</h4>
		<form action="/login" method="post">
		<h4 class="lowtitle">Click here to restart the login:</h4>
			<button class="button" type="submit">Back</button>
		</form>

		
		<form action="/" method="get">
		<h4 class="lowtitle">Click here to exit:</h4>
			<button class=button type="submit">Exit</button>
		</form>
	</div>
	</body>
	
</html>