<!DOCTYPE html>
<html class="registration">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Failed Registration!</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	
<body>
	<div class="regBox">
		<h2 class="secondaryTitle">The registration was unsuccessful!</h2>
		<h4 class="lowTitle"> Your password is to weak!! </h4>
		<br>
		
		<form action="/signIn" method="post">
			<p>Click here to restart the registration:</p>
			<br>
			<button class="button" type="submit">Back</button>
		</form>
			<br>
			<br>
		
		<form action="/" method="get">
			<p>Click here to exit:</p>
			<br>
			<button class=button type="submit">Exit</button>
		</form>
	</div>
</body>
	
</html>