<!DOCTYPE html>
<html class="weak">
	<head>
		<meta charset="UTF-8">
		<title>Failed Registration!</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
	
		<h4 style="text-align:center" >The registration was unsuccessful!</h4>
			<h5 style="text-align:center" > Your password is to weak!! </h5>
			
				<form action="/signIn" method="post">
				
					<p>Click here to restart the registration:</p>
					
						<br>
				
						<button type="submit">Back</button>
				</form>
				
			<br>
			<br>
			
				<form action="/" method="get">
				
					<p>Click here to exit:</p>
					
						<br>
				
						<button type="submit">Exit</button>
			</form>
	
	</body>
	
</html>