<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Enter</title>
	</head>
	
	<body>
	
		<h4 style="text-align:center" >Welcome on our page!</h4>
		
			<h5>Please select:</h5>
			
				<form action="/shop" method="post">
				
					<button type="submit">Shop</button>
				
				</form>
				
					<br>
					<br>
			
				<form action="/login" method="post">
				
					<button type="submit">login</button>
				
				</form>
				
					<br>
					<br>
				
				<form action="/signIn" method="post">
				
					<button type="submit">Create an account</button>
				
				</form>
				
	
	</body>
</html>