<!DOCTYPE html>
<html class="identification">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Log In</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	
<body>
	<div class="user">
		<h2 class="secondaryTitle">Login</h2>
		<br>
		<h4 class="lowTitle">Username</h4>
		<form action="/shop/categories" method="post">
			<input type="text" placeholder="Enter your name" name="username">
		<br>
		<br>
		<h4 class="lowTitle">Password</h4>				
			<input type="text" placeholder="Enter your password" name="password">	
		<br>
		<br>
		<br>
			<input class="button" type="submit" formaction="/admin" value="Submit as Admin">
		<br>
		<br>
			<input class="button" type="submit" value="Submit as User">		
		</form>
	</div>
</body>
	
</html>