<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>new Items</title>
	<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>

		<p th:text="${message}" ></p>
			
			<form action="/admin" method="post">
				
				<p>Click here to back:</p>
					
					<br>
				
						<button type="submit">Back</button>
			</form>
				
			<br>
			<br>
			
			<form action="/" method="get">
				
				<p>Click here to exit:</p>
					
					<br>
				
						<button type="submit">Exit</button>
			</form>
		
		
	
	
	
	</body>
</html>