<!DOCTYPE html>
<html class="shop">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Ratings</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>
	<div>
		<form action="/shop/categories/products/logout"  method="get">
			<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
		<form action="/shop/categories" method="post">
			<button class="back" type="submit"> <span class="material-icons">arrow_back</span></button>
		</form>
	</div>
	<div class="shopBox" id="rating">
		<form action="/shop/categories/ratings/add" method="post">
			<h4 class="secondaryTitle"> Select product to rate:</h4>
			<br>
			<p>Here you can find all product, you have not given rate yet. One product can be rated by you only once. </p>
			<br>
			<select class="roll" name= "selectedProduct">
				<option th:each="allProducts:${products}" th:value="${allProducts.id}" th:text="${allProducts.name}" ></option>
			</select>
			<br>
			<br>
			<input type="radio" id="index0" name="givenRating" value=1 >
			<label  th:text="poor" for="index0"></label><br>
			<input type="radio" id="index1" name=givenRating value=2>
			<label  th:text="bad" for="index1"></label><br>
			<input type="radio" id="index2" name=givenRating value=3 >
			<label  th:text="average" for="index2"></label><br>
			<input type="radio" id="index3" name=givenRating value=4 >
			<label  th:text="good" for="index3"></label><br>
			<input type="radio" id="index4" name=givenRating value=5 >
			<label  th:text="perfect" for="index4"></label><br>
			<input class="button" type="submit" value="Submit">
		</form>
	</div>	
</body>
</html>