<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Shop</title>
	</head>

		<style>
			table, th, td {
			border: 2px solid black;
			border-collapse:collapse;
			}
		</style>
	
	<body>
	
		<table>
				<th>Name</th>
				<th>Price</th>
				<th>Ingredients</th>
				<th>Quantity</th>

			
					<tr th:each="products:${productsList}" >
					
						<td th:text="${products.name}" >
						<td th:text="${products.price}" ></td>
						<td th:text="${products.ingredients}" ></td>
						<td th:text="${products.quantity}" ></td>
			
						
					</tr>

			</table>
		
		<br>
		<br>

		<form action="/shop/categories/products/cart" method="post" >
			
				<p>Please choose a product and add to your cart</p>
			
				<select name="selected_product">
				
					<option th:each="products: ${productsList}" th:value="${products.id}" th:text="${products.name}"  ></option>
				
				</select>
				
				<input type="range" name="selected_quantity" min="0" max="50" value="0" oninput="this.nextElementSibling.value = this.value"  >
				<output>0</output>
				<button type="submit">Add to cart</button>
			
			</form>
			
			<br>
			<br>
			
	
		
			<form action="/shop/categories" method="post">
				
				<p>Click here to return to categories:</p>
					
					<br>
				
						<button type="submit">Back</button>
			</form>
		
		
		<br>
		<br>
		
		<form action="/shop/categories/products/logout" method="get">
				
				<p>Click here to exit:</p>
					
					<br>
				
						<button type="submit">Exit</button>
			</form>
			
		<br>
		<br>
		

	</body>
	
</html>