<!DOCTYPE html>
<html class="identification">

<head >
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign In</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	
<body>
	<div class="userBox">
		<h4 class="secondaryTitle">You are on the registration page!</h4>
		<form action="/signIn/result" method="post">
			<p>Enter your username:</p>
			<input type="text" name="username" >
			<br>
			<br>
			<p>Enter your password:</p>
			<br>
			<p>Your password must contain: at least one uppercase, and at least one number!</p>
			<input type="text" name="password">
			<br>
			<br>
			<input class="button" type=submit >
		</form>
	</div>
</body>
	
</html>