<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Used Username!</title>
	</head>
	
	<body>
	
		<h4 style="text-align:center" >The registration was unsuccessful!</h4>
			<h5 style="text-align:center" > We are sorry, but your username is used in our database!! </h5>
				<h5 style="text-align:center" > Please insert an another username! </h5>
				
					<form action="/signIn" method="post">
					
						<p>Click here to restart the registration:</p>
						
							<br>
					
							<button type="submit">Back</button>
					</form>
					
				<br>
				<br>
				
					<form action="/" method="get">
					
						<p>Click here to exit:</p>
						
							<br>
					
							<button type="submit">Exit</button>
					</form>
		
	</body>
	
</html>