@charset "UTF-8";

html{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: Copperplate, Papyrus, fantasy;
	position: relative;
}

.entry {
	background-image: url("/pictures/opening.jpg");
}

.identification {
	background-image: url("/pictures/login.jpg");
}

.registration{
	background-image:url("/pictures/wall.jpg");
}
.shop{
	background-image: url("/pictures/desert.jpg")
}

.entryTitle {
	width: 27em;
	height: 25em;
	position: relative;
	left: 80em;
	top: 6em;
}

.firm {
	position: absolute;
	left: 1em;
	top: 0.5em;
	margin-bottom: 1em;
	font-size: 4em;
	text-shadow: 5px 5px 10px red, 7px 7px 15px black;
	margin: 0em;
}

.normal {
	margin: 0em;
	font-size: 2em;
}

.normal2 {
	position: absolute;
	top: 6.5em;
	left: 7.5em;
	margin: 0em;
	font-size: 2em;
}

.admin{
	background-image: url("/pictures/admin.jpg"); 
}

.exit{
	background-color:transparent;
	position:absolute;
	right:0%;
	top:1em;
	color:gold
}
.exit:hover{
	color:red;
}

.back{
	background-color:transparent;
	color:gold;
	position:absolute;
	right:0%;
	top:3em; 
}

.back:hover{
	color:green;
}

.mainMenu {
	margin: 0em;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.mainButton {
	float: left;
	width: 49.6%;
	height: 3em;
	font-family: inherit;
	font-size: 1.7em;
	background-color: transparent;
	border: 1px solid brown;
}

.mainButton:hover {
	color: red;
	text-shadow: 8px 8px 10px red;
	font-size: 2em;
	border: 2px solid red;
}

.mainButton:active {
	text-shadow: 8px 8px 10px blue;
}

.userBox {
	position: absolute;
	right: 20%;
	top: 4em;
	width: 20%;
	height: 43em;
	border: 5px solid gold;
	padding: 100px 40px 30px 40px;
	border-radius: 400px;
	box-sizing: content-box; 
	background-color: transparent;
}

.userBox_failed{
	position: absolute;
	right: 32%;
	top: 10em;
	width: 20%;
	height: 43em;
	background-color: transparent;
	text-align:center;
}

.secondaryTitle {
	font-size: 3em;
	text-shadow: 5px 5px 10px gold, 7px 7px 15px red, 3px 1px 1px black;
	margin: 0em;
	color:gold; 
	font-weight: bold;
}

.lowTitle {
	font-size: 1.5em;
	text-shadow: 2px 2px black;
	margin: 0em;
	color: gold;
	font-weight: bolder;
}

input[type=text], input[type=password], input[type=number] {
	font-family: Copperplate, Papyrus, fantasy; 
	border-radius: 30px; 
	width : 100%;
	height: 40px;
	border: 2px solid black;
	background: #e0b51f;
	width: 100%;
}

input[type=number]{
	width:20%; 
}

.button {
	display: block;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 1em;
	font-weight: bold;
	border-radius: 30px;
	width: 100%;
	height: 60px;
	border: 4px outset black;
	background-image:linear-gradient(to top, gold, yellow, orange, red); 
	transition-property:height;
	transition-timing-function: linear;
	transition-duration:0.5s; 
}

.button:hover {
	text-shadow: 5px 5px 10px red;
	font-size:1.5em; 
	height:80px; 
}
.button:active{
	border:2px inset black;
	text-shadow: 5px 5px 20px purple;
	font-size:1em; 
}

.regBox{
	position:absolute;
	top:16em; 
	left:25%;
	text-align:center;
	width:40%;
	height:30em;
	padding: 40px; 
	background-color:rgba(204, 153, 102, 0.4);
	border-radius:50px; 
	
}
.shopBox{
	position:absolute;
	top:30em; 
	left:25%;
	text-align:center;
	width:40%;
	height:30em;
	padding: 40px; 
	background-color:rgba(204, 153, 102, 0.4);
	border-radius:50px; 
}
#shopBox_addToCart{
	height:15em; 
	top:25em; 
}
#rating{
	top:5em; 
}

#cartBox{
	top:3em; 
	height:75em; 
}

p{
	font-size:1.2em;
	font-weight:bold;
	color:gold;
	text-shadow: 2px 2px black;
	margin:0em; 
}

label{
	font-weight:bold;
	text-align:left;
}


.roll{
	width:50%;
	border-radius:30px; 
	font-family:Copperplate, Papyrus, fantasy;
	font-size:1.5em; 
	font-weight:bolder;
	color: black; 
	text-align:center;
	background-color:gold; 
}

.roll:hover{
	font-size:2em; 
}

#categoryButton, #ratingButton, #addToCart,
#cartButtonR, #cartButtonD, #cartButtonP, #adminButton{
	position:absolute;
	right:30%; 
	width:40%; 
}


table{
	width:100%;  
	background-image:url("/pictures/papyrus.jpg");
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	text-align:left;
	font-size:1em;
	font-weight:bolder;
	
}
td{
	padding:20px; 
}
th{
	padding:20px;
	font-size:1.3em; 
}
.tableContainer{
	overflow-x: auto;
}







